<md-content>

    <h2 class="md-padding" translate>user-home.my-requests</h2>
    <div class="md-padding" ng-if="$ctrl.requests.length == 0" translate>user-home.no-requests</div>
    <md-list>
        <md-divider ng-if="$ctrl.requests.length > 0"></md-divider>
        <md-list-item class="md-3-line" ng-repeat="request in $ctrl.requests" ng-click="$ctrl.openRequest(request)">
            <md-icon md-svg-icon="icons/ic_build_black_48px.svg"></md-icon>
             <div class="md-list-item-text" layout="column">
                <h3>{{('enum.FailureType.'+request.failureType)|translate}} - {{request.address}}</h3>
                <h4>{{('enum.RequestType.'+request.requestType)|translate}}: <span translate>user-home.there-are</span> <br-bid-count request="request"></br-bid-count> <span translate>user-home.bids</span></h4>
                <p>{{request.description}}</p>
            </div>
            <md-icon ng-if="request.urgent" class="md-secondary" md-svg-src="icons/ic_warning_black_48px.svg"></md-icon>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    
    <h2 class="md-padding" translate>user-home.my-requests-in-progress</h2>
    <div class="md-padding" ng-if="$ctrl.requestsAccepted.length == 0" translate>user-home.no-requests</div>
    <md-list>
        <md-divider ng-if="$ctrl.requestsAccepted.length > 0"></md-divider>
        <md-list-item class="md-3-line" ng-repeat="request in $ctrl.requestsAccepted" ng-click="$ctrl.openRequest(request)">
            <md-icon md-svg-icon="icons/ic_build_black_48px.svg"></md-icon>
             <div class="md-list-item-text" layout="column">
                <h3>{{('enum.FailureType.'+request.failureType)|translate}} - {{request.address}}</h3>
                <h4>{{('enum.RequestType.'+request.requestType)|translate}}: <span translate>user-home.the</span> <br-intervention-date request="request"></br-intervention-date></h4>
                <p>{{request.description}}</p>
            </div>
            <md-icon ng-if="request.urgent" class="md-secondary" md-svg-src="icons/ic_warning_black_48px.svg"></md-icon>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    
    <h2 class="md-padding" translate>user-home.my-completed-requests</h2>
    <div class="md-padding" ng-if="$ctrl.requestsCompleted.length == 0" translate>user-home.no-requests</div>
    <md-list>
        <md-divider ng-if="$ctrl.requestsCompleted.length > 0"></md-divider>
        <md-list-item class="md-3-line" ng-repeat="request in $ctrl.requestsCompleted" ng-click="$ctrl.openRequest(request)">
            <md-icon md-svg-icon="icons/ic_build_black_48px.svg"></md-icon>
             <div class="md-list-item-text" layout="column">
                <h3>{{('enum.FailureType.'+request.failureType)|translate}} - {{request.address}}</h3>
                <h4>{{('enum.RequestType.'+request.requestType)|translate}}</h4>
                <p>{{request.description}}</p>
            </div>
            <md-icon ng-if="request.urgent" class="md-secondary" md-svg-src="icons/ic_warning_black_48px.svg"></md-icon>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    
    
    
</md-content>
 
<md-button class="md-fab bruno-fab-bottom-right" ng-click="$ctrl.openCallForJob()">
    <md-icon md-svg-src="icons/ic_add_white_48px.svg"></md-icon>
    <md-tooltip md-direction="top">Call Bruno!</md-tooltip>
</md-button>
