.bruno-fab-bottom-right {
	right: 20px;
    bottom: 20px;
    position: fixed;
}

/**/

md-card>:not(md-card-content) video {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
}