<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 ng-click="$ctrl.$state.go('user-home')"><img ng-src="/img/logo.svg" style="height: 36px;" class="md-avatar"/> <span translate>toolbar.bruno</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="refresh">
            <md-tooltip md-direction="left" ng-if="$ctrl.user.userType" >
                <span ng-bind="$ctrl.user.userType"></span>
            </md-tooltip>
            <md-icon ng-if="$ctrl.user.userType === 'ADMIN'" md-svg-icon="/icons/ic_build_black_48px.svg"></md-icon>
            <md-icon ng-if="$ctrl.user.userType === 'SERVICE_PROVIDER'" md-svg-icon="/icons/ic_store_black_48px.svg"></md-icon>
        </md-button>
        <span ng-if="$ctrl.user" ng-bind="$ctrl.username"></span>

        <md-menu ng-if="$ctrl.user">
          <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-svg-icon="/icons/ic_more_vert_white_48px.svg"></md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item ng-if="$ctrl.user.userType === 'CUSTOMER'">
              <md-button ng-click="$ctrl.$state.go('user-home')">
                <span translate>toolbar.home</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.user.userType === 'CUSTOMER'">
              <md-button ng-click="$ctrl.$state.go('register-as-service-provider')">
                <span translate>toolbar.register-as-service-provider</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.user.userType === 'SERVICE_PROVIDER'">
              <md-button ng-click="$ctrl.$state.go('service-provider')">
                <span translate>toolbar.home</span>
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.user.userType === 'ADMIN'">
              <md-button ng-click="$ctrl.$state.go('admin-home')">
                <span translate>toolbar.home</span>
              </md-button>
            </md-menu-item>
            <md-menu-item  ng-if="$ctrl.user.userType === 'SERVICE_PROVIDER' || $ctrl.user.userType === 'ADMIN'">
                <md-button ng-click="$ctrl.$state.go('user-home')">
                    <span translate>toolbar.my-requests</span>
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.currentLang !== 'it'">
                <md-button ng-click="$ctrl.changeLang('it')">
                    <span translate>toolbar.italian</span>
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.currentLang !== 'en'">
                <md-button ng-click="$ctrl.changeLang('en')">
                    <span translate>toolbar.english</span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.logout()">
                <span translate>toolbar.logout</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
