<div layout="row" layout-align="center center" layout-fill layout-padding>
	<md-card flex-gt-sm="30">
	   <md-card-title>
	       <md-card-title-text><span class="md-headline">Login</span></md-card-title-text>
	   </md-card-title>
	   <md-card-content layout="row" layout-align="center">
	       <md-button class="md-raised md-primary" href="/login/github">Github</md-button>
	   </md-card-content>
	   <md-card-content layout="row" layout-align="center">
           <md-button class="md-raised md-primary" href="/login/google">Google</md-button>
       </md-card-content>
       <md-card-content layout="row" layout-align="center">
           <md-button class="md-raised md-primary" href="/login/facebook">Facebook</md-button>
       </md-card-content>
    </md-card>
</div>
