 <md-card>
     <md-card-header>
         <md-card-avatar>
             <md-icon class="md-avatar-icon" md-svg-icon="icons/ic_build_black_48px.svg"></md-icon>
         </md-card-avatar>
         <md-card-header-text>
             <span class="md-title">{{('enum.FailureType.'+$ctrl.request.failureType)|translate}} - {{('enum.RequestType.' + $ctrl.request.requestType) | translate}}</span>
             <span class="md-subhead">{{$ctrl.request.address}}</span>
         </md-card-header-text>
         <md-icon ng-if="$ctrl.request.urgent" md-svg-src="icons/ic_warning_black_48px.svg" aria-label="urgent"></md-icon>
     </md-card-header>
     <div class="md-padding">
        <div ng-repeat="media in $ctrl.request.files" ng-if="$ctrl.hasContentType('image/', media) || $ctrl.hasContentType('video/', media)" class="job-request-card-media">
            <div ng-if="$ctrl.hasContentType('video/', media)"><videogular><vg-media vg-src="media.source" vg-native-controls="true"></vg-media></videogular></div>
            <div ng-if="$ctrl.hasContentType('image/', media)"><a ng-href="api/file/{{media.hash}}" target="_blank"><img ng-src="api/file/{{media.hash}}"></a></div>
            <div ng-if="$ctrl.isOwner"><md-button class="md-icon-button md-accent" ng-click="$ctrl.showDeleteConfirm($event, media.hash)"><md-icon md-svg-icon="icons/ic_delete_black_48px.svg"></md-icon></md-button></div>
        </div>
        
        
        <div ng-if="$ctrl.isOwner">
            <br-file-upload hide-files="true" uploading="$ctrl.isUploading" on-add-new-file="$ctrl.addNewFile"></br-file-upload>
            <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.isUploading"></md-progress-linear>
        </div>
        
     </div>
     <md-content class="md-padding">
             <p class="md-headline" translate>job-request-card.address</p>
             <p class="md-subhead">{{$ctrl.request.address}}</p>
             <p><span class="md-headline" translate>job-request-card.description</span></p>
             <p><span class="md-subhead">{{$ctrl.request.description}}</span></p>
     </md-content>
     <md-content class="md-padding" ng-if="$ctrl.userType === 'SERVICE_PROVIDER' && $ctrl.request.state === 'OPEN'" id="toast-container">
        <form ng-submit="$ctrl.makeBid($ctrl.bid)">
	        <p><span class="md-headline" translate>job-request-card.my-offer</span></p>
	        <div ng-if="$ctrl.request.requestType === 'REPAIR' || $ctrl.request.requestType === 'QUOTE'">
	            <md-input-container>
	                <label translate>job-request-card.cost</label>
	                <input ng-model="$ctrl.bid.cost" required>
	            </md-input-container>
	        </div>
	        <div ng-if="$ctrl.request.requestType === 'REPAIR' || $ctrl.requestType == 'MEETING' || $ctrl.requestType == 'INSPECTION' ">
	            <md-datepicker ng-model="$ctrl.bid.date" md-placeholder="data" required></md-datepicker>
	        </div>
	        <div>
	           <md-button class="md-raised md-primary" type="submit"><span translate>job-request-card.confirm</span></md-button>
	        </div>
        </form>
     </md-content>
     <md-content class="md-padding" ng-if="$ctrl.userType === 'SERVICE_PROVIDER' && $ctrl.request.state === 'ASSIGNED'">
        <p class="md-headline" translate>job-request-card.my-offer</p>
        <p><span translate>job-request-card.cost</span>: {{$ctrl.bid.cost}}</p>
        <p><span translate>job-request-card.intervention-date</span>: {{$ctrl.bid.date | date : 'dd.MM.yyyy'}}</p>
        <p ng-if="$ctrl.userBid.accepted && $ctrl.request.state === 'ASSIGNED'">
            <md-button class="md-primary md-raised" ng-click="$ctrl.completeJob($ctrl.userBid)"><span translate>job-request-card.work-completed</span></md-button>
        </p>
     </md-content>
     <md-content class="md-padding" ng-if="$ctrl.userType === 'USER'">
        <p><span class="md-headline" translate>job-request-card.bids</span></p>
        <p ng-if="$ctrl.bids.length == 0" translate>job-request-card.no-bids</p>
        <md-list>
            <md-list-item ng-repeat="bid in $ctrl.bids" class="md-3-line">
                 <div class="md-list-item-text" layout="column">
                    <h3><span translate>job-request-card.company</span>: <br-show-username user-id="bid.userId"></br-show-username></h3>
                    <h4><span translate>job-request-card.cost</span>: {{bid.price}}</h4>
                    <h4><span translate>job-request-card.date</span>: {{bid.selectedDate | date : 'dd.MM.yyyy'}}</h4>
                </div>
                <md-button ng-if="!bid.accepted && $ctrl.request.state === 'OPEN'" class="md-secondary" ng-click="$ctrl.acceptBid(bid)"><span translate>job-request-card.accept-bid</span></md-button>
                <md-button class="md-secondary"><md-icon ng-if="bid.accepted" md-svg-icon="/icons/ic_check_black_48px.svg" ></md-icon></md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
     </md-content>
 </md-card>
