 <md-card>
     <md-card-header>
         <md-card-avatar>
             <md-icon class="md-avatar-icon" md-svg-icon="icons/ic_build_black_48px.svg"></md-icon>
         </md-card-avatar>
         <md-card-header-text>
             <span class="md-title">{{$ctrl.request.failureType}} - {{$ctrl.request.requestType}}</span>
             <span class="md-subhead">{{$ctrl.request.address}}</span>
         </md-card-header-text>
         <md-icon ng-if="$ctrl.request.urgent" md-svg-src="icons/ic_warning_black_48px.svg" aria-label="urgent"></md-icon>
     </md-card-header>
     <md-content class="md-padding" layout-xs="column" layout="row">
         <video flex-gt-xs="66" flex-xs="100" src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" muted controls></video>
         <div layout="column" flex-gt-xs="33" flex-xs="100">
            <img ng-src="https://s-media-cache-ak0.pinimg.com/236x/44/c9/a4/44c9a47bf022103971c9122843fe2d57.jpg" flex alt="Available Media">
            <img ng-src="http://i.dailymail.co.uk/i/pix/2014/07/30/article-2710303-201E848900000578-717_964x454.jpg" flex class="md-card-image" alt="Available Media">
         </div>
     </md-content>
     <md-content class="md-padding">
             <p class="md-headline">Indirizzo</p>
             <p class="md-subhead">{{$ctrl.request.address}}</p>
             <p><span class="md-headline">Descrizione</span></p>
             <p><span class="md-subhead">{{$ctrl.request.description}}</span></p>
     </md-content>
     <md-content class="md-padding" ng-if="$ctrl.userType === 'SERVICE_PROVIDER' && $ctrl.request.state === 'OPEN'">
        <form ng-submit="$ctrl.makeBid($ctrl.bid)">
	        <p><span class="md-headline">La mia offerta</span></p>
	        <div ng-if="$ctrl.request.requestType === 'REPAIR' || $ctrl.request.requestType === 'QUOTE'">
	            <md-input-container>
	                <label>Costo</label>
	                <input ng-model="$ctrl.bid.cost" required>
	            </md-input-container>
	        </div>
	        <div ng-if="$ctrl.request.requestType === 'REPAIR' || $ctrl.requestType == 'MEETING' || $ctrl.requestType == 'INSPECTION' ">
	            <md-datepicker ng-model="$ctrl.bid.date" md-placeholder="data" required></md-datepicker>
	        </div>
	        <div>
	           <md-button class="md-raised md-primary" type="submit">Conferma</md-button>
	        </div>
        </form>
     </md-content>
     <md-content class="md-padding" ng-if="$ctrl.userType === 'SERVICE_PROVIDER' && $ctrl.request.state === 'ASSIGNED'">
        <p class="md-headline">La mia offerta</p>
        <p>Costo: {{$ctrl.bid.cost}}</p>
        <p>Data intervento: {{$ctrl.bid.date | date : 'dd.MM.yyyy'}}</p>
        <p ng-if="$ctrl.userBid.accepted && $ctrl.request.state === 'ASSIGNED'">
            <md-button class="md-primary md-raised" ng-click="$ctrl.completeJob($ctrl.userBid)">Lavoro completato</md-button>
        </p>
     </md-content>
     <md-content class="md-padding" ng-if="$ctrl.userType === 'USER'">
        <p><span class="md-headline">Offerte</span></p>
        <p ng-if="$ctrl.bids.length == 0">Nessuna offerta!</p>
        <md-list>
            <md-list-item ng-repeat="bid in $ctrl.bids" class="md-3-line">
                 <div class="md-list-item-text" layout="column">
                    <h3>Ditta: <br-show-username user-id="bid.userId"></br-show-username></h3>
                    <h4>Costo: {{bid.price}}</h4>
                    <h4>Data: {{bid.selectedDate | date : 'dd.MM.yyyy'}}</h4>
                </div>
                <md-button ng-if="!bid.accepted && $ctrl.request.state === 'OPEN'" class="md-secondary" ng-click="$ctrl.acceptBid(bid)">Accetta offerta</md-button>
                <md-button class="md-secondary"><md-icon ng-if="bid.accepted" md-svg-icon="/icons/ic_check_black_48px.svg" ></md-icon></md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
     </md-content>
     <!-- <md-card-icon-actions ng-if="$ctrl.userType === 'USER'">
         <md-button class="md-icon-button" aria-label="Edit">
             <md-icon md-svg-icon="/icons/ic_mode_edit_black_48px.svg"></md-icon>
         </md-button>
         <md-button class="md-icon-button" aria-label="Add Photo/Video">
             <md-icon md-svg-icon="/icons/ic_cloud_upload_black_48px.svg"></md-icon>
         </md-button>
     </md-card-icon-actions> -->
 </md-card>
